<div class="interactive-shadow-dom">
  <div class="isd-input-wrapper">
    <ul class="isd-tab-list">
      <li>
        <button class="isd-active" type="button">JS</button>
      </li>
      <li>
        <button type="button">HTML</button>
      </li>
      <li>
        <button type="button">CSS</button>
      </li>
    </ul>
    <div class="isd-panels">
      <div class="isd-active"></div>
      <div></div>
      <div></div>
    </div>
    <div class="isd-resize-bar"></div>
  </div>
  <div class="isd-output-wrapper">
    <ul class="isd-tab-list">
      <li>
        <button class="isd-active" type="button">Output</button>
      </li>
      <li>
        <button type="button">Output (HTML)</button>
      </li>
    </ul>
    <div class="isd-panels">
      <div class="isd-active"></div>
      <div></div>
    </div>
  </div>
</div>
