:root {
  --isdom-gap: 0.45em;
  --isdom-focus-color: #1960C9;
  --isdom-panel-font-size: 0.915rem;
  --isdom-panel-border-radius: 9px;
  --isdom-panel-min-height: 17.25em;
  --isdom-panel-background: hsl(0, 0%, 4%);
  --isdom-tab-background: hsl(0, 0%, 20%);
  --isdom-tab-background-hover: hsl(0, 0%, 18%);
}
body.isd-noselect {
  user-select: none;
}
.interactive-shadow-dom {
  display: flex;
}
.interactive-shadow-dom ul,
.interactive-shadow-dom ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.interactive-shadow-dom button {
  background-color: inherit;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}
.interactive-shadow-dom .cm-editor .cm-scroller,
.interactive-shadow-dom .hljs,
.interactive-shadow-dom .isd-panels > * {
  scrollbar-width: thin;
}
.interactive-shadow-dom .isd-tab-list {
  display: flex;
  align-items: flex-end;
  gap: var(--isdom-gap);
  margin-bottom: var(--isdom-gap);
  font-size: 0.95rem;
}
.interactive-shadow-dom .isd-tab-list > li.isd-active button {
  border-top: 2px solid var(--isdom-focus-color);
}
.interactive-shadow-dom .isd-tab-list > li button {
  padding: 0.35em 1em;
  background-color: var(--isdom-tab-background);
  border-radius: 5px;
}
.interactive-shadow-dom .isd-tab-list > li button:hover {
  background-color: var(--isdom-tab-background-hover);
}
.interactive-shadow-dom .isd-input-wrapper {
  position: relative;
  margin-right: var(--isdom-gap);
}
.interactive-shadow-dom .isd-input-wrapper.isd-collapsed {
  margin-right: 0;
}
.interactive-shadow-dom .isd-resize-bar {
  display: block !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(var(--isdom-gap) * -1);
  width: 1em;
  transform: translate(50%);
  z-index: 2;
  cursor: col-resize;
}
.interactive-shadow-dom .isd-panels {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: var(--isdom-panel-min-height);
  font-size: var(--isdom-panel-font-size);
}
.interactive-shadow-dom .isd-panels > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  border-radius: var(--isdom-panel-border-radius);
  background-color: var(--isdom-panel-background);
}
.interactive-shadow-dom .isd-panels > *:not(.isd-active) {
  display: none !important;
}
.interactive-shadow-dom > * {
  min-width: max-content;
}
.interactive-shadow-dom > *.isd-collapsed > * {
  display: none;
}
.interactive-shadow-dom .isd-input-wrapper {
  width: 58%;
}
.interactive-shadow-dom .isd-output-wrapper {
  flex: 1;
}
.interactive-shadow-dom .isd-panels > [data-io="isd-dom-output"] > * {
  padding: 1em;
  width: 100%;
}
.interactive-shadow-dom .isd-panels > [data-io="isd-dom-output"] .isd-dom-shadow-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interactive-shadow-dom .isd-panels > [data-io="isd-dom-output"] .isd-dom-error-container {
  max-height: 100%;
  position: absolute;
  bottom: 0;
  overflow: auto;
  background-color: #3e0a0a;
  border-radius: var(--isdom-panel-border-radius);
}
.interactive-shadow-dom .isd-panels > [data-io="isd-dom-output"] .isd-dom-error-container:not(.isd-dom-active) {
  display: none;
}
.interactive-shadow-dom .isd-panels > [data-io="isd-html-output"] {
  display: flex;
}
.interactive-shadow-dom .isd-panels > [data-io="isd-html-output"] pre {
  display: flex;
  margin: 0;
}
.interactive-shadow-dom .isd-panels > [data-io="isd-code-input"] .cm-editor {
  height: 100%;
}
.interactive-shadow-dom .isd-panels > [data-io="isd-code-input"] .cm-editor .cm-content {
  font-family: 'Source Code Pro', 'San Francisco Monospace', monospace;
}
