// out: ../main.css

:root {
  --isdom-gap: .45em;
  --isdom-focus-color: #1960C9;
  --isdom-panel-font-size: .915rem;
  --isdom-panel-border-radius: 9px;
  --isdom-panel-min-height: 17.25em;
  --isdom-panel-background: hsl(0, 0%, 4%);
  --isdom-tab-background: hsl(0, 0%, 20%);
  --isdom-tab-background-hover: hsl(0, 0%, 18%);
}

body.isd-noselect {
  user-select: none;
}

.interactive-shadow-dom {
  display: flex;

  // --- Overrides ---
  ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  button {
    background-color: inherit;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
  }

  .cm-editor .cm-scroller,
  .hljs,
  .isd-panels > * {
    scrollbar-width: thin;
  }

  // --- Tabs ---
  .isd-tab-list {
    display: flex;
    align-items: flex-end;
    gap: var(--isdom-gap);
    margin-bottom: var(--isdom-gap);
    font-size: .95rem;
    > li {
      &.isd-active button {
        border-top: 2px solid var(--isdom-focus-color);
      }
      button {
        padding: .35em 1em;
        background-color: var(--isdom-tab-background);
        border-radius: 5px;
        &:hover {
          background-color: var(--isdom-tab-background-hover);
        }
      }
    }
  }

  // --- Resize bar ---
  .isd-input-wrapper {
    position: relative;
    margin-right: var(--isdom-gap);
    &.isd-collapsed {
      margin-right: 0;
    }
  }
  .isd-resize-bar {
    display: block !important;
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(var(--isdom-gap) * -1);
    width: 1em;
    transform: translate(50%);
    z-index: 2;
    cursor: col-resize;
  }

  // --- Panels ---
  .isd-panels {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: var(--isdom-panel-min-height);
    font-size: var(--isdom-panel-font-size);
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      border-radius: var(--isdom-panel-border-radius);
      background-color: var(--isdom-panel-background);
      &:not(.isd-active) {
        display: none !important;
      }
    }
  }

  // --- Wrappers ---
  > * {
    min-width: max-content;
    &.isd-collapsed > * {
      display: none;
    }
  }

  .isd-input-wrapper {
    width: 58%;
  }
  .isd-output-wrapper {
    flex: 1;
  }

  // --- IO styles ---
  .isd-panels {
    > [data-io="isd-dom-output"] {
      > * {
        padding: 1em;
        width: 100%;
      }
      .isd-dom-shadow-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .isd-dom-error-container {
        max-height: 100%;
        position: absolute;
        bottom: 0;
        overflow: auto;
        background-color: #3e0a0a;
        border-radius: var(--isdom-panel-border-radius);
        &:not(.isd-dom-active) {
          display: none;
        }
      }
    }
    > [data-io="isd-html-output"] {
      display: flex;
      pre {
        display: flex;
        margin: 0;
      }
    }
    > [data-io="isd-code-input"] {
      .cm-editor {
        height: 100%;
        .cm-content {
          font-family: 'Source Code Pro', 'San Francisco Monospace', monospace;
        }
      }
    }
  }
}
